#menu {

    background-color: #fbfbfb;
    font-family: Franklin Gothic;
    width: 280px;
    height: 620px;
    border-radius: 10px;
}

#cadastro{

    background-color: #d0edf7;
    width: 873px;
    height: 582px;
    border-radius: 10px;
}

#consulta{

    background-color: #d0edf7;
    width: 880px;
    height: 620px;
    border-radius: 10px;

}

h4{

    font-family: Franklin Gothic;
    text-align: center;

}

#h3_menu{

    text-align: center;
    font-size: 14px;
    font-family: Franklin Gothic;

}

#escritaPagina{
      
    font-size: 14px;
    font-family: Franklin Gothic;
    height: 507px;
}